<ion-content>
  <ion-slides pager= "true">
    <ion-slide> 
      <img src = "assets/images/slide1.png"/>
    </ion-slide>

    <ion-slide>
      <img src="assets/images/slide2.png"/>
    </ion-slide>

    <ion-slide>
      <img src= "assets/images/slide3.png"/>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              color = "light"
              routerLink = "/"
              routerDirection = "forward"
              style="margin-top:20px;"
            >Start Using Quicklists</ion-button
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src = "assets/images/slide4.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>