ion-slide{
    background-color: #32db64;
}

ion-slide img{
    height: 85vh !important;
    width: auto !important;
}

ion-item-sliding{
    margin: 5px;
}

ion-label{
    font-size: 1.2em;
    font-weight: bold;
    color: #282828;
    padding-top: 10px;
    padding-bottom: 10px;
}

ion-item span {
    font-weight: 400;
    margin-right: 10px;
}
